h1{
  text-align: center;
}
table, th, td{
  border: thick solid #000000;
  text-align: center;
}

.playball{
  font-family: 'Playball', cursive;
}

.planet-pics{
  background-color: #000000;
}

body{
  background-image: url("images/galaxy");
}

.mercury{
  color: #8c8c8c;
}
.jupiter{
  color: #A17C76;
}
.saturn{
  color: #FBBE54;
}
.neptune{
  color: #4775FC;
}
